.gridwrap {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  font-family: Arial, sans-serif;
}

.gridleft {
    grid-column: 1;
    grid-row: 1;
    overflow: scroll;
}

.sortitem {
    width:40vw;
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 2vw;
    margin: 1vw 0vw;
}

.gridright {
    grid-column: 2;
    grid-row: 1;
    overflow: scroll;
}
