.gridwrap {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh 90vh;
  font-family: Arial, sans-serif;
  font-size: 1.2vw;
  padding: 0 0 0 1vw;
}

.headleft {
    grid-column: 1;
    grid-row: 1;
    overflow: scroll;
}

.headright {
    grid-column: 2;
    grid-row: 1;
    overflow: scroll;
}

.gridleft {
    grid-column: 1;
    grid-row: 2;
    overflow: scroll;
}

.gridright {
    grid-column: 2;
    grid-row: 2;
    overflow: scroll;
}

.sortitem {
    width:40vw;
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 2vw;
    margin: 1vw 0vw;
}

 .textinput {
     display: inline-block;
     white-space : nowrap;
     width:30vw;
 }

 .inputlabel {
     display: inline-block;
     white-space : nowrap;
     width:8vw;
     clear: none;
 }

 .jsonout {
     display: block;
     max-width: 46vw;
     max-height: 86vh;
     overflow: scroll;
 }
